@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root {
    --keys-symbol-bgcolor: blue;
    --keys-num-bgcolor: #e66e49;
    --keys-symbol-bgcolor: #6A38B3;
    --screen-bgcolor: rgb(218, 208, 208);
    --keys-font-color: white;
    --frame-bgcolor: rgb(85, 142, 113);
}

.calculator-frame {
    width: 45vmin;
    height: 75vmin;
    min-width: 300px;
    min-height: 500px;
    background-color: var(--frame-bgcolor);
    margin: 2rem auto;
    border: 10px solid rgb(86, 86, 117);

}

.calculator-screen {
    width: 90%;
    height: 20%;
    margin: 5% auto 10%;
    background-color: var(--screen-bgcolor);
    border: 5px solid rgb(71, 54, 54);
}

.screen {
    font-size: 1.5rem;
    padding: 0 0.3rem;
    margin: 0.5rem;
    text-align: right;
}

.key-layer {
    height: 10%;
    width: 90%;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#decimal,
.num-keys 
{
    padding: 1rem 1.2rem;
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: var(--keys-num-bgcolor);
    color: var(--keys-font-color);
    font-weight: bold;
}

#decimal {
    font-size: 1.5rem;
    font-weight: bolder;
}

.symbol-keys {
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    border-radius: 40%;
    background-color: var(--keys-symbol-bgcolor);
    color: var(--keys-font-color);
    font-weight: bold;
}

#clear,
#delete {
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: rgb(23, 83, 157);
    color: white;
    font-weight: bold;
}







h1 {
    color: var(--frame-bgcolor);
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2rem;
    font-family: 'Dancing Script', cursive;
}

footer p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem;
    color: var(--frame-bgcolor);
}



